@use 'core/variables';
@use 'core/ress';
@use 'core/base';
@use 'blocks/header';
@use 'blocks/main';
@use 'blocks/introduction';
@use 'blocks/skills';
@use 'blocks/achievements';
@use 'blocks/links';
@use 'blocks/footer';