@use '../core/variables';

html {
    font-size: 16px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    line-height: 1.6;
    font-size: 16px;
}

a {
    color: #1e88e5;

    &:hover {
        text-decoration: underline;
    }
}

section {
    margin-bottom: 40px;

    @include variables.mq(md) {
        margin-bottom: 48px;
    }
}