@use '../core/variables';

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    padding: 16px 24px;

    @include variables.mq(md) {
        padding: 24px 32px;
    }

    &__title {
        max-width: 960px;
        margin: 0 auto;
        font-size: 22px;
        letter-spacing: 0.08em;

        @include variables.mq(md) {
            font-size: 24px;
        }
    }
}