@use '../core/variables';

.links {
    background-color: #ffffff;
    padding: 24px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    @include variables.mq(md) {
        padding: 32px 32px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 18px;
        border-left: 4px solid #9575cd;
        padding-left: 10px;

        @include variables.mq(md) {
            font-size: 20px;
        }
    }

    &__list {
        margin: 0;
        padding-left: 10px;
        list-style: none;
    }

    &__item {
        font-size: 15px;
        margin-bottom: 6px;

        @include variables.mq(md) {
            font-size: 16px;
        }

        a {
            word-break: break-all;
        }
    }
}